$font-primary-heading: 'Cinzel', serif;
$font-primary-paragraph: 'Assistant', sans-serif;

$color-primary-green: #5fab77;
$color-primary-yellow: #fcd000;
$color-primary-blue: #219ebc;
$color-primary-red: #d62828;

$color-secondary-dark: #07292d;

$color-white: #ffffff;
$color-black: #000000;

$color-grey-dark: #262626;