.dashboard-container {
    display: flex;
    
    

}

.main-content {
    
    display: grid;
    grid-template-columns: 17rem 17rem 17rem;
    grid-template-rows: 17rem 17rem;
    grid-gap:4rem;
    margin:  8rem 0 5rem 15rem;
    text-align: center;
    
    
}