
.home-container {
    background-image: linear-gradient(to bottom, $color-white, #c5f4ff, #c6f4ff, #7fd7ec, #219ebc, $color-secondary-dark,);  
    display: flex;
    flex-direction: row;
    height: 30rem;

   
}

.image-link-container{
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
   

  .column{
      display: flex;
      flex-direction: column;
      text-align: center;
      
      padding-bottom: 8%;

      h2 {
        
        
      }
  }
}

  
  .image-link{
    margin: 0rem 5rem 0rem 5rem;
    text-align: center;
    min-width: 10rem;
    
    img {
        height: 8rem;
        border: none;
        border-radius: 25px;
    }
    
    
   
}