
.home-container {
    background-image: linear-gradient(to bottom, $color-primary-blue, $color-white, $color-white, $color-primary-blue,);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1{
        font-family: $font-primary-paragraph;
    }
}

.image-link-container{
    width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.testing{
    display: flex;
    flex-direction: column;
}

.link-image {
    width: 8rem;
}