.navigation-container {

    button {
        border: none;
        background-color: transparent;
        font-family: $font-primary-paragraph;
        font-size: 1.25rem;
        color: $color-white;
        text-transform: uppercase;

        &:hover{
            text-shadow: .1px 1px 1px rgba(0, 0, 0, 0.492);
            color: $color-primary-blue;
        }
    }
}
.adminBtn {
    Margin-top: 5rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    button {
        background-color: red;
        color:$color-white;
        border: none;
        border-radius: 50%;
        font-family: $font-primary-paragraph;
        font-size: 1.5rem;
        font-weight: 600;
        border-radius: 15px;
        padding: 1.5rem 3rem;
        margin: 7rem 0 7rem 0;
    }
}