* {
    box-sizing: border-box;
  }
  body {
    background-color: #219ebc;
  }
  
  .main-container {
    display: block;
    border-radius: 25px;
    background-color: white;
    max-width: 190vh;
    margin: auto;
    overflow: hidden;
    width: 97%;
    height: 94vh;
    margin-top: 2rem;
    
    
  }
  // @media (max-width: 320px){ 
  
  //   .main-container {

  //   }
  // }
  