* {
    box-sizing: border-box;
  }
  body {
    background-color: #219ebc;
  }
  
  .main-container {
    display: block;
    border-radius: 25px;
    background-color: white;
    width: 190vh;
    margin: auto;
  }