@import "sass/abstracts/variables";

@import "sass/base/typography";
@import "sass/base/utilities";

@import "sass/components/buttons";
@import "sass/components/card";
@import "sass/components/dropBox";
@import "sass/components/sideBar";

@import "sass/layout/body";
@import "sass/layout/header";

@import "sass/pages/dashboard";
@import "sass/pages/home";